{{ partial "header.html" . }}
    <article class="single">
        <section>
            {{ $site := urls.Parse .Params.ItemUrl }}
            <p class="item__urls"><a href="{{ .Params.ItemUrl }}"><strong>{{ .Title }}</strong></a> <span class="item__siteurl">({{ replace $site.Host "www." "" }})</span></p>
            <p class="item__meta">
                <span>{{ .PublishDate.Format "2006-01-02" }}</span>
                {{ range .Params.tags }}
                    <a class="item__tag" href="/tags/{{- replace . " " "-" -}}">{{- . -}}</a>
                {{- end }}
            </p>

        </section>
        <section>
            {{ if ne (trim .Content " ") "" }}
            <div style="margin: 2em 0;">{{ .Content }}</div>
            {{ end }}

            <!-- はてなブログカード -->
            <iframe
                class="hatenablogcard"
                style="width:100%;height:155px;max-width:680px;"
                title="{{ .Title }}"
                src="https://hatenablog-parts.com/embed?url={{ .Params.ItemUrl }}"
                width="300" height="150" frameborder="0" scrolling="no">
            </iframe>            
        </section>
    </article>
{{ partial "footer.html" . }}